html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Palatino;
  background-color: #f2e6ff;
}

h1 {
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color: #e0b3ff;
  color: black;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 50px auto;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  padding: 10px;
  color: black;
}

.box {
  width: 200px;
  height: 200px;
  background-color:#e0b3ff;
  margin: 10px;
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: 0.6s opacity ease-in-out;
}

.box:first-of-type {
  margin-left: 0;
}

main {
  display: flex;
  justify-content: space-between;
}

.content{
  width: 90%;
  height: 20px;
  
}
.container{
  position: relative;
}
.words {
  position: absolute;
  margin-top: -120px;
  padding: 4.8rem;
  color: hsla(0, 0%, 100%, 0.9);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
.purple{
  margin-left: 70px;
  margin-top: -30px;
  width: 99%;
  height:1100%;
  object-position: 0 60%;
  object-fit: cover;

}
@media (pointer: fine) {
  .content:hover .words {
    opacity: 1;
    transition: 0.3s all ease-in-out;

  }
}
  @media (pointer: coarse) {
  .words {
    opacity: 1;
    position: static;
    height: auto;
    background-color: transparent;
    padding: 0.5rem;
    padding-left: 0;
    margin-top: -70px;
    color: initial;
  }
  .words p {
    display: none;
  }
}


@media (max-width: 1024px) {
  
  body{
background-color: #ffe6ff;
}
    h1 {
    text-align: left;
    text-decoration-color: #ffb3e6;
    color: black;
  }

  nav {
    justify-content: flex-start;
    
  }
  a {
    padding-left: 0;
    color: black;
  }
  main {
    display: block;
  }

  p{
  border: 2px solid #ffb3e6;
}

  .box {
    margin-left: 0;
    width: 100%;
    opacity: 0;
    height: 300px;
    background-color: #ffb3e6;
    transform: translateY(-100%);
    transition: 1s all ease-in-out;

  }

  .appear {
    transform: translateX(0%);
    opacity: 1;
    transition: 1s all ease-in-out;
  }

  .container {
    margin-left: 2.5%;
    width: 95%;
  }
  .content{
  width: 1037px;
  height: 30px;
}
  .pink{
  margin-left: -70px;
  margin-top: -30px;
  width: 100%;
  height: 500%;
  object-position: 0 80%;
  object-fit: cover;

  }
}

@media (max-width: 375px) {
  
  body{
background-color: #e6f9ff;
}
    h1{
    text-align: center;
    color: black;
    text-decoration-color: #b3ecff;
  }
  nav{
    justify-content: center;
  }
  a{
    color: black;
  }
  p{
  border: 2px solid #b3ecff;}
  .box{
    margin-left: 0;
    width: 100%;
    opacity: 0;
    height: 300px;
    background-color: #b3ecff;
     transform: rotate(40deg);
    transition: 1s all ease-in-out;
  }
  .appear {
    transform: translateX(0%);
    opacity: 1;
    transition: 1s all ease-in-out;
  }

  .container {
    margin-left: 2.5%;
    width: 95%;
  }
    .content{
  width: 380px;
  height: 28px;
}
  .blue{
  margin-left: -2px;
  margin-top: 50px;
  width: 100%;
  height: 500%;
  object-position: 30% 0;
  object-fit: cover;
  }

}

