html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --border: 1px solid #44464a;
  --sansFont: "Helvetica Neue Light","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  --serifFont:  'Lora', serif;
}
* {
  box-sizing: border-box;
}
//layout
.wrapper {
  display: grid;
  grid-template-columns:  190px 780px 190px ;
  grid-gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  background: lighten(lightgrey, 12%);
}
h1{
  font-size: 50px;
}
h2{
  border: black solid 2px;
}
h3{
  border: black solid 1px;
}
.h--promoHeading{
  background-color: white;
  margin-right: 0px;
}
header{
  grid-column: 1 / 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: var(--border);
}
.issueInfo {
  grid-column: 1/5;
  display: flex;
  justify-content: space-between;
  padding: 0 .5em;
   border-bottom: var(--border);
  p{
    margin: 0;
  }
}
p.edition {
  color: white;
  background-color: darken(tomato, 5%);
  padding: .5em 1.5em;
  margin-top: -.7em;
}
aside {
  grid-column: 1/2;
  
  padding: 0 1em;
  ul{
    padding-left: 1em;
    list-style-type: square;
  }
}
.main {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 35px;
}
.main__subSection--focus {
  grid-column: 1/5;
  column-width: 170px;
  column-gap: 1em;
  border-bottom: var(--border);
  & p:first-of-type {
    margin-top: 0;
  }
}
.main__subSection--callout {
  column-span: all;
  background: lightgrey;
  padding: 0 1em;
  img {
    width: 750px;
  }
}
.main__h--subHeading {
  column-span: all;
  font-size: 3em;
  margin: 1rem 0
}
.main__subSection--aside {
  grid-column: 5/6;
  border-left: var(--border);
  border-bottom: var(--border);
  padding-left: .75em;
}
.main__subSection--complimentary {
  grid-column: 1/3;
  column-width: 170px;
  column-gap: 1em;
  p:first-of-type {
    margin-top: 0;
  }
}
.main__subSection--imgPromo {
 grid-column: 6/3;
  column-width: 170px;
  column-gap: 3em;
  p:first-of-type {
    margin-top: 0;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
//typography
body{
  font-family: var(--sansFont);
  font-size: 0.9375em;
  line-height: 1.3;
  
}
h1, h2, h3, h4 {
  font-family: 'Lora', serif;
}
.header__h {
  font-size: 4em;
  text-align: center;
  margin: 0;
}


.main__h--boldSans {
  font-family: var(--sansFont);
  font-weight: 600;
  font-size: 2em;
  margin: 1rem 0;


}
.byline{
  border-bottom: var(--border);
  margin-bottom: 0;
  padding-bottom: .5rem;
  display: inline-block;
}
.aside__ul li {
   margin: 1em 0;
}

  }
}