body,html{
			margin:0;
		}
		body{
			background-color: black;
		}
		h1{
			color: red;
			font-family: Impact;
			margin-left: 465px;
			font-size: 72px;
			margin-top: 2px;
			text-shadow: 2px 2px white;
		
	
			
		
		}
		.img1{
			width: 250px;
			height: 350px;
			margin-left: 85px;
			margin-top: 40px;
		}
		.img2{
			width: 250px;
			height: 350px;
			margin-left: 85px;
			margin-top: 40px;
		}
		.img3{
			width: 250px;
			height: 350px;
			margin-left: 85px;
			margin-top: 40px;
		}
		.img4{
			width: 250px;
			height: 350px;
			margin-left: 85px;
			margin-top: 40px;
		}
		.suspect1{
			font-family: Courier;
			color: black;
			font-size: 30px;
			margin-left: 126px;
			font-style: italic;
			margin-top: -62px;
		}
		.suspect2{
			font-family: Courier;
			color: black;
			font-size: 30px;
			margin-left: 468px;
			font-style: italic;
			margin-top: -65px;
		}
		.suspect3{
			font-family: Courier;
			color: black;
			font-size: 30px;
			margin-left: 805px;
			font-style: italic;
			margin-top: -66px;
		}
			.suspect4{
			font-family: Courier;
			color: black;
			font-size: 30px;
			margin-left: 1145px;
			font-style: italic;
			margin-top: -67px;
		}
		.ray{
			font-family: impact;
			color: red;
			font-size: 35px;
			margin-left: 174px;
			margin-top: 40px;
			text-shadow: 1px 1px white;


		}
		.ray2{
			font-family: impact;
			color: red;
			font-size: 28px;
			margin-left: 130px;
            margin-top: 5px;


		}
		.kathy{
			font-family: impact;
			color: red;
			font-size: 35px;
			margin-left: 442px;
			margin-top: -128px;
			text-shadow: 1px 1px white;
		}
		.kathy2{
			font-family: impact;
			color: red;
			font-size: 28px;
			margin-left: 430px;
            margin-top: 12px;


		}
			.francene{
			font-family: impact;
			color: red;
			font-size: 35px;
			margin-left: 817px;
			margin-top: -128px;
			text-shadow: 1px 1px white;
		}
		.francene2{
			font-family: impact;
			color: red;
			font-size: 28px;
			margin-left: 818px;
            margin-top: 12px;
        }
        	.weird{
			font-family: impact;
			color: red;
			font-size: 35px;
			margin-left: 1145px;
			margin-top: -128px;
			text-shadow: 1px 1px white;
		}
		.weird2{
			font-family: impact;
			color: red;
			font-size: 28px;
			margin-left: 1078px;
            margin-top: 12px;
        }
        h2{
        	display: none;
        }
       @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) {
        	h1{
        		display: none;

        	}
        	h2{
        		color: white;
        		font-size: 30px;
        		font-family: Impact;
        	}
        	.img1{
        		width: 450px;
        		height: 550px;
        		margin-top: 350px;
        		margin-left: 10px;
        	}
        	.img3{
        		width: 450px;
        		height: 550px;
        		margin-left: 540px;
        		margin-top: 150px;
        	}
        	.img4{
        		display: none;
        	}
        	.img2{
        		display: none;
        	}
        	.suspect2{
        		display: none;
        	}
        	.suspect4{
        		display: none;
        	}
        	.suspect1{
        		font-family: Courier;
			color: black;
			font-size: 55px;
			margin-left: 90px;
			font-style: italic;
			margin-top: -805px;
        	}
        	.suspect3{
        		font-family: Courier;
			color: black;
			font-size: 55px;
			margin-left: 620px;
			font-style: italic;
			margin-top: 635px;
        	}
        	.kathy{
        		display: none;
        	}
        	.kathy2{
        		display: none;
        	}
        	.weird{
        		display: none;
        	}
        	.weird2{
        		display: none;
        	}
        	.ray{
        		font-family: impact;
			color: red;
			font-size: 85px;
			margin-left: 660px;
			margin-top: -1290px;
			text-shadow: 2px 2px white;

        	}
        	.ray2{
        		display: none;
        	}

			.francene{
			font-family: impact;
			color: red;
			font-size: 85px;
			margin-left: 110px;
			margin-top: 610px;
			text-shadow: 2px 2px white;
		}
		.francene2{
			display: none;
		}
        }