body,html{
			margin:0;
		}
		body{
			background-color: black;
		}
		h1{
			color: red;
			font-family: Impact;
			margin-left: 465px;
			font-size: 72px;
			margin-top: 2px;
			text-shadow: 5px 5px #404040;	
		}
		#img1{
			width: 250px;
			height: 350px;
			margin-left: 85px;
			margin-top: 40px;
		}
		#img2{
			width: 250px;
			height: 350px;
			margin-left: 85px;
			margin-top: 40px;
		}
		#img3{
			width: 250px;
			height: 350px;
			margin-left: 85px;
			margin-top: 40px;
		}
		#img4{
			width: 250px;
			height: 350px;
			margin-left: 85px;
			margin-top: 40px;
		}
		.suspect1{
			font-family: Courier;
			color: black;
			font-size: 30px;
			margin-left: 126px;
			font-style: italic;
			margin-top: -62px;
		}
		.suspect2{
			font-family: Courier;
			color: black;
			font-size: 30px;
			margin-left: 468px;
			font-style: italic;
			margin-top: -65px;
		}
		.suspect3{
			font-family: Courier;
			color: black;
			font-size: 30px;
			margin-left: 805px;
			font-style: italic;
			margin-top: -66px;
		}
			.suspect4{
			font-family: Courier;
			color: black;
			font-size: 30px;
			margin-left: 1145px;
			font-style: italic;
			margin-top: -67px;
		}
		#ray{
			font-family: impact;
			color: black;
			font-size: 50px;
			margin-left: 170px;
			margin-top: 30px;
		}
		#kathy{
			font-family: impact;
			color: black;
			font-size: 50px;
			margin-left: 390px;
			margin-top: -110px;
		}
			#francene{
			font-family: impact;
			color: black;
			font-size: 50px;
			margin-left: 790px;
			margin-top: -110px;	
		}
        	#weird{
			font-family: impact;
			color: black;
			font-size: 50px;
			margin-left: 1110px;
			margin-top: -110px;	
		}
        h2{
        	font-family: impact;
        	font-size: 35px;
        	color: #bfbfbf;
        	margin-left: 560px;
        	margin-top: 10px;
        	text-shadow: 3px 3px #404040;
        }
        h3{
        	display: none;
        }
        .text1{
        	display: none;
        }
         .text2{
        	display: none;
        }

       @media only screen 
    and (min-device-width: 375px) 
    and (max-device-height: 812px) {
        	h1{
        		display: none;

        	}
        	h2{
        		display: none;
        	}
        	h3{
        		color: white;
        		font-size: 30px;
        		font-family: Impact;
        		display: block;
        	}
        #img1{
        		width: 450px;
        		height: 550px;
        		margin-top: 350px;
        		margin-left: 10px;
        	}
        	#img3{
        		width: 450px;
        		height: 550px;
        		margin-left: 540px;
        		margin-top: 150px;
        	}
        	#img4{
        		display: none;
        	}
        	#img2{
        		display: none;
        	}
        	.suspect2{
        		display: none;
        	}
        	.suspect4{
        		display: none;
        	}
        	.suspect1{
        		font-family: Courier;
			color: black;
			font-size: 55px;
			margin-left: 90px;
			font-style: italic;
			margin-top: -805px;
        	}
        	.suspect3{
        		font-family: Courier;
			color: black;
			font-size: 55px;
			margin-left: 620px;
			font-style: italic;
			margin-top: 635px;
        	}
        	.kathy{
        		display: none;
        	}
        	.kathy2{
        		display: none;
        	}
        	.weird{
        		display: none;
        	}
        	.weird2{
        		display: none;
        	}
        	.ray{
        		font-family: impact;
			color: red;
			font-size: 85px;
			margin-left: 660px;
			margin-top: -1290px;
			text-shadow: 2px 2px white;

        	}
        	.ray2{
        		display: none;
        	}

			.francene{
			font-family: impact;
			color: red;
			font-size: 85px;
			margin-left: 110px;
			margin-top: 610px;
			text-shadow: 2px 2px white;
		}
		.francene2{
			display: none;
		}
		.text1{
			
			color: white;
			font-family: courier;
			font-size: 20px;
			display: block;
		}
        }